* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}

.accordion{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.toggle {
  width: 100%;
  display: block;
  border: 1px dashed grey;
  padding: .75em;
  transition: background .3s ease;
  margin: 0;
}
.toggle:hover {
  border: 1px solid grey;
  background: rgba(254, 254, 254, 0.5);
}

.inner {
  overflow: hidden;
  display: none;
  padding-right: 20px;
  padding-left: 20px;
}

/*CV Styles*/
#header-img img{
  display: block;
  width: 10%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

h3{
  font-family: 'Libre Baskerville', cursive;
  font-weight: 100;
}
h4{
  font-weight: 800;
  text-transform: uppercase;
}

.award-title, .job-position{
  font-style: italic;
}

#cv-overview{
  margin-bottom: 30px;
}
#cv-overview h1{
  margin-bottom: 30px;
}
#cv-overview p{
  text-align: center;
  font-family: 'Libre Baskerville', cursive;
  font-size: 18px;
  text-transform: uppercase;
}


/*Flexbox styles*/

#skills-section{
  width: 100%;
  margin-bottom: 30px;
}
#skills-container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.skills-item{
  margin-bottom: 20px;
}

.inner hr{
  width: 50%;
}

#experience-section, #education-section, #awards-section{
  width: 30%;
  margin-bottom: 30px;
}

/*Breakpoints styles*/

@media screen and (max-width: 500px){
  .skills-item{
    width: 80%;
  }

  #experience-section, #education-section, 
  #awards-section{
    width: 100%;
  }
}

@media screen and (min-width: 500px){
  .skills-item{
    width: 40%;
  }
  #experience-section, #education-section, 
  #awards-section{
    width: 100%;
  }

@media screen and (min-width: 1200px){

  .skills-item{
     width: 20%;
  }

  .accordion{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}