.container{
	/*background-color: red;*/
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-right: 40px;
	margin-left: 40px;
}

#cv-overview{
	width: 100%;
}
.section-header{
	text-transform: uppercase;
	width: 100%;
}
h3{
	font-family: 'Libre Baskerville', cursive;
	font-weight: 100;
}
ul{
	padding: 0px;
}

li{
	list-style: none;
}

.cv-section{
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 30px;

}
.cv-subsection{
	text-align: center;	
	border: 1px dashed grey;
	padding: 10px 20px;
}




#experience{
	display: block;
}
.job-position{
	font-style: italic;
}

#education{
	display: block;
}

#awards{
	display: block;
}
.award-title{
	font-style: italic;
}


/*Breakpoints*/
@media screen and (max-width: 600px){
	.skills-section{
		width: 100%;
	}
}

@media screen and (min-width: 600px){
	.skills-section{
		width: 50%;
	}
}

@media screen and (min-width: 800px){
	.skills-section{
		width: 25%;
	}
	#experience{
		width: 50%;
	}	
	#education{
		width: 50%;
	}
	#awards{
		width: 100%;
	}	
}

@media screen and (min-width: 1200px){
	.container{
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	#experience{
		width: 30%;
	}	
	#education{
		width: 30%;
	}
	#awards{
		width: 30%;
	}

}