* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}

.accordion{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.toggle {
  width: 100%;
  display: block;
  border: 1px dashed grey;
  /*background: rgba(254, 254, 254, 0.5);*/
  /*color: #fefefe;*/
  padding: .75em;
  transition: background .3s ease;
  margin: 0;
}
.toggle:hover {
  border: 1px solid grey;
  background: rgba(254, 254, 254, 0.5);
}

.inner {
  overflow: hidden;
  display: none;
  padding-right: 20px;
  padding-left: 20px;
}

/*CV Styles*/
#header-img img{
  display: block;
  width: 10%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#cv-overview{
  margin-bottom: 30px;
}


/*Flexbox styles*/

#skills-section{
  /*border: 1px solid red;*/
  width: 100%;
  margin-bottom: 30px;
}
#skills-container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.skills-item{
  margin-bottom: 10px;
}

.inner hr{
  width: 50%;
}

#experience-section, #education-section, #awards-section{
  /*border: 1px dashed grey;*/
  width: 30%;
  margin-bottom: 30px;
}

/*Breakpoints styles*/

@media screen and (max-width: 500px){
  .skills-item{
    width: 80%;
  }

  #experience-section, #education-section, 
  #awards-section{
    width: 100%;
  }
}

@media screen and (min-width: 500px){
  .skills-item{
    width: 40%;
  }
  #experience-section, #education-section, 
  #awards-section{
    width: 100%;
  }

@media screen and (min-width: 1200px){
  .skills-item{
     width: 20%;
  }

  .accordion{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }