.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

/*Project Header*/
#project-header{
	width: 80%;
}
#project-title{
	width: 100%;
}
#project-subtitle{
	width: 100%;
}
.header-seperator{
	border: 1px dashed grey;
	width: 100%;
}
#project-overview{
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*Project Content Styles*/
.project-content{
	width: 80%;
}
.video-embed{
	position: relative;
	width: 60%;
	padding-bottom: 35%;
	margin-right: auto;
	margin-left: auto;
}
.video-embed iframe{
	position: absolute;
	width: 100%;
	height: 100%;
}
.text-section{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.img-section img{
	display: block;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}


/*Breakpoints*/
@media screen and (max-width: 800px){
	#project-overview{
		width: 100%;
	}
	.text-section{
		width: 100%;
	}
}

@media screen and (min-width: 1200px){
	.container{
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}