/**{
	border: 1px solid red !important; 
}*/

.work-overview{
	text-align: center;
	margin-bottom: 30px;
}

.container{
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*Hero project cover*/
.project-header{
	width: 100%;
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/0773db44228025.580c5b7479cb6.png);
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
}
.project-header-descript{
	display: inline-block;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	background-size: cover;
	padding: 15px;
	text-align: center;
}
.project-header-descript h1{
	font-size: 3em;
}
#header-seperator{
	border: 1px dashed grey;
}
.project-header-descript .pullquote{
	font-size: 0.8em;
	line-height: 2em;
}
.text-button{
	padding: 10px;
	border: 1px solid #4D4D4D;
	color: #4D4D4D;
	font-family: 'Libre Baskerville', serif;
	font-size: 0.8em;
	background-color: rgba(255,255,255,0.3);
}


/*General project covers*/
.project-cover{
	height: 200px;
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
}
/*.project-cover:hover{
	background-color: red;
}*/

.rollover{
	display: none;
}
.rollover-active{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	padding: 10% 5%;
	overflow-y: auto;
}
.cover-rollover .pullquote{
	font-size: 1em;
}

#project1{
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2672f246479293.5856220a8906e.jpg);
}#project2{
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/c6b1ab33085305.569f5a24623a4.jpg);
}#project3{
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/14946c31454845.5652cbd7cf5ec.png);
}#project4{
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/a8dbbb25002761.563439d23bb28.png);	
}#project5{
	background-image: url(https://mir-s3-cdn-cf.behance.net/projects/original/21053901.5461878594fcf.jpg);
}#project6{
	background-image: url(https://mir-s3-cdn-cf.behance.net/projects/original/17953035.548d372c3bee8.jpg);	
}#project7{
	background-image: url(https://mir-s3-cdn-cf.behance.net/projects/original/80365b16942195.556db7c828a14.png);
}#project8{
	background-image: url(https://mir-s3-cdn-cf.behance.net/projects/original/15783425.548a0eb1cc888.jpg);	
}


/*Behance hook*/
#behance-hook{
	text-align: center;
	margin-bottom: 40px;
	line-height: 1.5em;
}
#hook-logo{
	font-family: 'Kumar One', cursive;
}


/*Breakpoints*/
@media screen and (max-width: 600px){
	.project-cover{
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (min-width: 600px){
	.project-cover{
		width: 45%;
	}
}

@media screen and (min-width: 800px){
	.project-cover{
		height: 300px;
	}
	.project-header-descript{
		width: 50%;
	}
}

@media screen and (min-width: 1200px){
	.project-cover{
		height: 350px;
		margin-bottom: 30px;
	}
	.project-header{
		margin-bottom: 30px;
	}
	.project-header-descript{
		width: 25%;
	}
	.container{
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}
