.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#header-img{
	width: 100%;
}
#header-img img{
	display: block;
	width: 25%;
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
#about-title{
	margin-top: 50px;
	margin-bottom: 20px;
	width: 100%;
}
.about-text{
	padding-left: 20px;
	padding-right: 20px;
	width: 35%;
}


/*Breakpoints*/
@media screen and (max-width: 800px){
	.about-text{
		width: 100%;
	}
}

@media screen and (min-width: 1200px){
	.container{
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}